.card {
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: var(--yellow);
    flex-wrap: wrap;
    margin-top: 1rem;
    box-shadow: 3px 3px 6px rgb(88, 90, 26);;
}